<%- include('header'); -%>

        <div class="box" id="heading">
            <h1><%= listTitle  %> </h1>

        </div>

 <div class="box">

    <% for(var i=0 ; i<newItems.length ; i++) { %>
        <div class="item">
            <input type="checkbox">
            <p> <%= newItems[i] %> </p>

        </div>
     <% } %> 


     <form class="item" action="/" method="post">
        <input type="text"name="LItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="btn" value=<%= listTitle %> >+</button>
        </form>

 </div>
          
 <%- include('footer'); -%>